.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #080e2d;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-container {
  margin: auto;
  padding: 1rem 2rem;
}

img {
  width: 200px;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: transform 0.3s;
  }

  .nav.nav-open {
    transform: translateY(0);
  }

  .menu-toggle {
    display: flex;
  }

  .header-cta {
    display: none;
  }
}
